body {
  font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif;
}

#title {
  font-size: 46px;
  font-family: CatsAlphabet, sans-serif;
  text-transform: uppercase;
}

#title::first-letter {
  font-size: 44px;
}

#subtitle, footer {
  font-family: Monaco, Menlo, Tahoma, sans-serif;
  margin-top: 14px;
}

#container {
  width: 900px;
  margin: 44px auto 0px auto;
  text-align: center;
}

#example-chooser {
  padding: 20px;
}

#button-box {
  display: inline-block;
}

#example-chooser {
  background-color: white;
  z-index: 1;
  position: absolute;
  border: 4px solid #CCC;
  border-radius: 3px;
}

.example-thumb {
  width: 48px;
  height: 48px;
  border: 3px solid #AAA;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 6px;
}

#viewer-container {
  width: 500px;
  margin: 60px auto 30px auto;
}

#viewer {
  position: relative;
  width: 500px;
  height: 240px;
  border: 4px dashed #ccc;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

#viewer.dragover {
  border: 5px dashed #555;
}

#droparea-text {
  z-index: 0;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

#preview {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#annotations {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}

#progress {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
}

#drawing {
  font-family: CatsAlphabet;
  font-size: 42px;
}

.button {
  background-color: #E2E2E2;
  box-shadow: #EEE 0 .15em 0.6em;
  border: 1px solid #CCC;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.button:active {
  background-color: #CCC !important;
}

footer {
  margin-top: 80px;
  text-align: center;
  font-size: 13px;
  text-align: center;
  color: grey;
}

footer a {
  color: grey;
}

#select-button {
  font-size: 13px;
  color: grey;
  cursor: pointer;
}

#select-button:hover {
  color: black;
}

#select-button:after {
  content: ">";
}

#note {
  margin-top: 24px;
}

#limit-note {
  font-style: italic;
}

#js-note {
  margin-top: 6px;
}

@font-face {
  font-family: CatsAlphabet;
  src: url(CatsAlphabet.ttf);
  font-weight: 400;
}
